
$color-gray: #F2F2F2;
$color-white: #FFFFFF;


$color-blue-light: #DDE3E9;
$color-blue-medium: #2f3676;
$color-blue-dark: #071723;

$error-background: #F59393;
$error-color: #F33232;

$disabled: #CCCCCC;