
$color-gray: #F2F2F2;
$color-white: #FFFFFF;

$color-blue-light: #DDE3E9;
$color-blue-medium: #2f3676;
$color-blue-dark: #071723;

$color-hover: #191847;

$error-background: #F59393;
$error-color: #F33232;
$error-color-medium: #860000;

$success-color: #00c57c;

$disabled: #C5CFD6;
$disabled-medium: #555555;
$color-input-focus: #9fb6ce