/ * http://meyerweb.com/eric/tools/css/reset/
   v2.0 modificado | 20110126
   Licença: nenhuma (domínio público)
* /

html, body, div, span, applet, objeto, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acrônimo, endereço, grande, citar, código,
del, dfn, em, img, ins, kbd, q, s, samp,
pequeno, strike, forte, sub, sup, tt, var,
b, u, i, centro,
dl, dt, dd, ol, ul, li,
fieldset, formulário, rótulo, legenda,
tabela, legenda, tbody, tfoot, thead, tr, th, td,
artigo, aparte, tela, detalhes, incorporação,
figura, figcaption, rodapé, cabeçalho, hgroup,
menu, nav, output, ruby, seção, resumo,
hora, marca, áudio, vídeo {
  margem: 0;
	estofamento: 0;
	borda: 0;
	tamanho da fonte: 100%;
	fonte: herdar;
	alinhamento vertical: linha de base;
}

/ * certifique-se de definir alguns estilos de foco para acessibilidade * /
: foco {
  esboço: 0;
}

/ * Redefinição da função de exibição HTML5 para navegadores mais antigos * /
artigo, aparte, detalhes, figcaption, figura,
rodapé, cabeçalho, hgroup, menu, nav, seção {
	display: bloco;
}

corpo {
  altura da linha: 1;
  imagem de fundo: url ('/ images / bg.jpg');
  cor de fundo: # 000000;
  tamanho do plano de fundo: capa;
  cor: #FFFFFF;
  família de fontes: 'Open Sans', sans-serif
}

ol, ul {
	estilo de lista: nenhum;
}

blockquote, q {
	citações: nenhuma;
}

blockquote: antes, blockquote: depois,
q: antes, q: depois {
	conteúdo: '';
	conteúdo: nenhum;
}

mesa {
	colapso da fronteira: colapso;
	espaçamento entre bordas: 0;
}

input [type = search] :: - botão de cancelamento da pesquisa na web,
input [type = search] :: - webkit-pesquisa-decoração,
input [type = search] :: - botão do kit de pesquisa na web,
input [type = search] :: - webkit-pesquisa-resultados-decoração {
  -webkit-aparecimento: nenhum;
  -movimento: nenhum;
}

input [type = search] {
  -webkit-aparecimento: nenhum;
  -movimento: nenhum;
  -webkit-box-sizing: caixa de conteúdo;
  -moz-box-sizing: caixa de conteúdo;
  tamanho da caixa: caixa de conteúdo;
}

área de texto {
  estouro: auto;
  alinhamento vertical: top;
  redimensionar: vertical;
}

/ **
 * Exibição correta do bloco em linha não definido no IE 6/7/8/9 e Firefox 3.
 * /

áudio,
tela de pintura,
vídeo {
  display: bloco embutido;
  * display: em linha;
  * zoom: 1;
  largura máxima: 100%;
}

/ **
 * Impede que navegadores modernos exibam `áudio` sem controles.
 * Remova o excesso de altura nos dispositivos iOS 5.
 * /

áudio: não ([controles]) {
  Mostrar nenhum;
  altura: 0;
}

/ **
 * O estilo do endereço não está presente no IE 7/8/9, Firefox 3 e Safari 4.
 * Problema conhecido: não há suporte para o IE 6.
 * /

[oculto] {
  Mostrar nenhum;
}

/ **
 * 1. Corrija o redimensionamento de texto de maneira estranha no IE 6/7 quando o corpo `tamanho da fonte` estiver definido usando
 * unidades em.
 * 2. Impedir o ajuste do tamanho do texto do iOS após a alteração da orientação, sem desativar
 * zoom do usuário.
 * /

html {
  tamanho da fonte: 100%; / * 1 * /
  -webkit-text-size-Adjust: 100%; / * 2 * /
  -ms-texto-tamanho-ajuste: 100%; / * 2 * /
}

/ **
 * Aborde a inconsistência `outline` entre o Chrome e outros navegadores.
 * /

um foco {
  contorno: pontilhado fino;
}

/ **
 * Melhorar a legibilidade quando focado e também o mouse pairou em todos os navegadores.
 * /

a: ativo,
a: passe o mouse {
  esboço: 0;
}

/ **
 * 1. Remova a borda quando estiver dentro do elemento `a` no IE 6/7/8/9 e Firefox 3.
 * 2. Melhore a qualidade da imagem quando dimensionada no IE 7.
 * /

img {
  borda: 0; / * 1 * /
  -ms-modo de interpolação: bicúbico; / * 2 * /
}

/ **
 * Margem de endereço não presente no IE 6/7/8/9, Safari 5 e Opera 11.
 * /

figura {
  margem: 0;
}

/ **
 * Margem correta exibida estranhamente no IE 6/7.
 * /

Formato {
  margem: 0;
}

/ **
 * Defina borda, margem e preenchimento consistentes.
 * /

fieldset {
  borda: 1px sólido # c0c0c0;
  margem: 0 2 px;
  estofamento: 0.35em 0.625em 0.75em;
}

/ **
 * 1. A cor correta não está sendo herdada no IE 6/7/8/9.
 * 2. O texto correto não está quebrando no Firefox 3.
 * 3. Alinhamento correto exibido de forma estranha no IE 6/7.
 * /

lenda {
  borda: 0; / * 1 * /
  estofamento: 0;
  espaço em branco: normal; / * 2 * /
  * margem esquerda: -7px; / * 3 * /
}

/ **
 * 1. O tamanho correto da fonte não está sendo herdado em todos os navegadores.
 * 2. Margens de endereço definidas diferentemente no IE 6/7, Firefox 3+, Safari 5,
 * e Chrome.
 * 3. Melhore a aparência e a consistência em todos os navegadores.
 * /

botão,
entrada,
selecione,
área de texto {
  tamanho da fonte: 100%; / * 1 * /
  margem: 0; / * 2 * /
  alinhamento vertical: linha de base; / * 3 * /
  * alinhamento vertical: meio; / * 3 * /
}

/ **
 * Endereço Firefox 3+ definindo `line-height` em` input` usando `! Important` in
 * a folha de estilo do UA.
 * /

botão,
entrada {
  altura da linha: normal;
}

/ **
 * Endereça herança inconsistente de `transformação de texto` para` botão` e `selecione`.
 * Todos os outros elementos de controle de formulário não herdam valores de `transformação de texto`.
 * Herança correta do estilo `botão` no Chrome, Safari 5+ e IE 6+.
 * Corrija a herança do estilo `select` no Firefox 4+ e Opera.
 * /

botão,
selecione {
  transformação de texto: nenhuma;
}

/ **
 * 1. Evite o bug do WebKit no Android 4.0. * Onde (2) destrói o `áudio` nativo
 controles * e `video`.
 * 2. Incapacidade correta de estilizar tipos clicáveis ​​de `entrada` no iOS.
 * 3. Melhore a usabilidade e a consistência do estilo do cursor entre o tipo de imagem
 * `input` e outros.
 * 4. Remova o espaçamento interno no IE 7 sem afetar as entradas de texto normais.
 * Problema conhecido: o espaçamento interno permanece no IE 6.
 * /

botão,
entrada html [type = "button"], / * 1 * /
input [type = "reset"],
input [type = "submit"] {
  -webkit-aparecimento: botão; / * 2 * /
  cursor: ponteiro; / * 3 * /
  * estouro: visível; / * 4 * /
}

/ **
 * Redefina o cursor padrão para elementos desabilitados.
 * /

botão [desativado],
entrada html [desativada] {
  cursor: padrão;
}

/ **
 * 1. Dimensionamento da caixa de endereço definido como caixa de conteúdo no IE 8/9.
 * 2. Remova o excesso de preenchimento no IE 8/9.
 * 3. Remova o excesso de preenchimento no IE 7.
 * Problema conhecido: excesso de preenchimento permanece no IE 6.
 * /

input [type = "checkbox"],
input [type = "radio"] {
  dimensionamento de caixa: caixa de borda; / * 1 * /
  estofamento: 0; / * 2 * /
  * altura: 13px; / * 3 * /
  * largura: 13px; / * 3 * /
}

/ **
 * 1. Endereço `aparecimento` definido como` campo de pesquisa` no Safari 5 e Chrome.
 * 2. Endereço `dimensionamento de caixa` definido como` caixa de borda 'no Safari 5 e Chrome
 * (inclua `-moz` para prova de futuro).
 * /

input [type = "search"] {
  -webkit-aparecimento: campo de texto; / * 1 * /
  -moz-box-sizing: caixa de conteúdo;
  -webkit-box-sizing: caixa de conteúdo; / * 2 * /
  tamanho da caixa: caixa de conteúdo;
}

/ **
 * Remova o preenchimento interno e procure o botão Cancelar no Safari 5 e Chrome
 * no OS X.
 * /

input [type = "search"] :: - webkit-search-cancel-button,
input [type = "search"] :: - webkit-pesquisa-decoração {
  -webkit-aparecimento: nenhum;
}

/ **
 * Remova o preenchimento interno e a borda do Firefox 3+.
 * /

botão :: - moz-focus-inner,
input :: - moz-focus-inner {
  borda: 0;
  estofamento: 0;
}

/ **
 * 1. Remova a barra de rolagem vertical padrão no IE 6/7/8/9.
 * 2. Melhore a legibilidade e o alinhamento em todos os navegadores.
 * /

área de texto {
  estouro: auto; / * 1 * /
  alinhamento vertical: top; / * 2 * /
}

/ **
 * Remova o maior espaçamento entre as células da tabela.
 * /

mesa {
  colapso da fronteira: colapso;
  espaçamento entre bordas: 0;
}

html,
botão,
entrada,
selecione,
área de texto {
  cor: # 222;
}


:: - seleção moz {
  fundo: # b3d4fc;
  sombra de texto: nenhuma;
}

:: selection {
  fundo: # b3d4fc;
  sombra de texto: nenhuma;
}

img {
  alinhamento vertical: meio;
}

fieldset {
  borda: 0;
  margem: 0;
  estofamento: 0;
}

área de texto {
  redimensionar: vertical;
}

.chromeframe {
  margem: 0,2em 0;
  fundo: #ccc;
  cor: # 000;
  estofamento: 0.2em 0;
}

p {
  margem inferior: 10 px;
}