@import url("https://rsms.me/inter/inter.css");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rebeccapurple;
  color: #071723;
}

ol,
ul {
  list-style: none;
}

section {
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 10px 22px 34px 0 rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  overflow: hidden;
  width: 550px;
}

.space {
  margin-bottom: 16px;
}

.space-md {
  margin-bottom: 32px;
}

header {
  background: url(../images/header.png) center right no-repeat;
  background-size: cover;
  height: 187px;
  padding: 23px 36px;
  width: 100%;
}

header h2 {
  color: #fff;
  font-size: 23px;
  font-weight: 300;
}

header h2 span {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.46;
}

form textarea {
  background: #dde3e9;
  border: 1px solid #2f3676;
  border-radius: 8px;
  color: #071723;
  height: 140px;
  padding: 16px;
  resize: none;
  width: 100%;
  font-size: 14px;
}

fieldset {
  padding: 0 32px;
}

fieldset legend {
  font-size: 18px;
  font-weight: 600;
}

.counter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  width: 35%;
}

.counter svg {
  fill: #2f3676;
}

.counter input {
  background: #dde3e9;
  border: 1px solid #2f3676;
  border-radius: 7px;
  font-size: 20px;
  font-weight: bold;
  margin: 0 8px;
  width: 60px;
}

.counter [role="link"] {
  display: flex;
  cursor: pointer;
}

.footer {
  padding: 32px;
  background: #dde3e9;
  display: flex;
  justify-content: flex-end;
}

.footer button {
  appearance: none;
  background: #2f3676;
  border: 0;
  border-radius: 8px;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 32px;
}

.footer button:focus,
.footer button:hover {
  border: 2px solid #2f3676;
  background: #191847;
}

input[type="checkbox"] {
  display: none;
}

[required].valid-error input[type="checkbox"] + label {
  background: #f59393;
}

input[type="checkbox"] + label > span {
  display: flex;
  font-weight: bold;
  margin-left: 10px;
  margin-top: -4px;
}
/* f00c */

input[type="checkbox"] + label {
  background-color: #2f3676;
  display: flex;
  width: 24px;
  height: 24px;
  padding-left: 24px;
  background-position: 0 0;
  background-repeat: no-repeat;
  line-height: 32px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 6px;
}

input[type="checkbox"] + label:hover {
  background-color: #191847;
}

input[type="checkbox"]:checked + label:before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  display: flex;
  font-weight: bold;
  margin-left: -20px;
  margin-top: -3px;
  height: 20px;
  color: #ffffff;
}

input[type="checkbox"]:checked + label > span {
  display: flex;
  font-weight: bold;
  margin-left: 14px;
}
