@import url("https://rsms.me/inter/inter.css");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rebeccapurple;
  color: #071723;
}

ol,
ul {
  list-style: none;
}

section {
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 10px 22px 34px 0 rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  overflow: hidden;
  width: 550px;
}

.hide {
  display: none;
}

.space {
  margin-bottom: 16px;
}

.space-md {
  margin-bottom: 32px;
}

header {
  background: url(../images/header.png) center right no-repeat;
  background-size: cover;
  height: 187px;
  padding: 23px 36px;
  width: 100%;
}

header h2 {
  color: #fff;
  font-size: 23px;
  font-weight: 300;
}

header h2 span {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.46;
  display: block;
}

form textarea {
  background: #dde3e9;
  border: 1px solid #2f3676;
  border-radius: 8px;
  color: #071723;
  height: 140px;
  padding: 16px;
  resize: none;
  width: 100%;
  font-size: 14px;
}

fieldset {
  padding: 0 32px;
}

fieldset legend {
  font-size: 18px;
  font-weight: 600;
}

.counter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  width: 35%;
}

.counter svg {
  fill: #2f3676;
}

.counter input {
  background: #dde3e9;
  border: 1px solid #2f3676;
  border-radius: 7px;
  font-size: 20px;
  font-weight: bold;
  margin: 0 8px;
  width: 60px;
  text-align: center;
}

.counter input.valid-error {
  background: #f59393;
}

.counter [role="link"] {
  display: flex;
  cursor: pointer;
}

.footer {
  padding: 32px;
  background: #dde3e9;
  display: flex;
  justify-content: flex-end;
}

.footer button {
  appearance: none;
  background: #2f3676;
  border: 2px solid #2f3676;
  border-radius: 8px;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 32px;
  cursor: pointer;
}

.footer button:focus,
.footer button:hover {
  border: 2px solid #2f3676;
  background: #191847;
}

.container-message {
  min-height: 100px;
  background: #dde3e9;
  padding: 10px;
}

.container-message .error {
  color: #860000;
}

.container-message .error strong {
  display: block;
  font-weight: bold;
}

.container-message .success {
  color: #00c57c;
}

[role="checkbox"] {
  padding: 5px;
  border-radius: 5px;
  background-color: #2f3676;
  width: 24px;
  height: 24px;
  display: inline-block;
}

li:focus {
  outline: 1px solid green;
}

li:hover > [role="checkbox"],
[role="checkbox"]:hover {
  background-color: #191847;
}

[role="checkbox"]:focus {
  outline: none;
  border-radius: 4px;
  padding: 10px;
}

textarea:focus,
[role="link"]:focus,
button:focus,
input:focus,
[role="checkbox"]:focus {
  outline: dashed 2px #191847;
  outline-offset: 3px;
}

[aria-checked="true"]::before {
  width: 24px;
  height: 24px;
}

[aria-checked="false"]::before {
  content: "";
  width: 24px;
  height: 24px;
}

.checkbox-svg {
  padding-left: 32px;
  position: relative;
  top: -4px;
  user-select: none;
}

.valid-error .checkbox-svg {
  color: #f33232;
}

.checkbox-svg:before {
  position: absolute;
  left: 0;
  top: -1px;
  width: 24px;
  height: 24px;
  transition: all 0.35s ease-out;
}

.checkbox-svg svg {
  width: 15px;
  height: 15px;
  margin-left: -55px;
  margin-top: -5px;
  margin-right: 6px;
}

.checkbox-svg .path {
  stroke-dashoffset: 111.46px;
  stroke-dasharray: 111.46px;
  stroke: #3863d9;
  transition: all 0.35s ease-out;
}

[aria-checked="true"] + .checkbox-svg .path {
  stroke: #fff;
  stroke-dashoffset: 0;
}

.valid-error li:hover > [role="checkbox"],
.valid-error [role="checkbox"]:hover,
.valid-error [role="checkbox"] {
  background-color: #f59393;
}

.valid-error [aria-disabled="true"] + label,
[aria-disabled="true"] + label {
  color: #ccc;
  cursor: not-allowed;
}

.valid-error li:hover > [aria-disabled="true"],
.valid-error [aria-disabled="true"],
[aria-disabled="true"]:focus,
[aria-disabled="true"],
li:hover > [aria-disabled="true"] {
  background: #ccc;
  cursor: not-allowed;
  outline: none;
}
