@import url("https://rsms.me/inter/inter.css");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rebeccapurple;
  color: #071723;
}

ol,
ul {
  list-style: none;
}

section {
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 10px 22px 34px 0 rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  overflow: hidden;
  width: 550px;
}

label {
  cursor: pointer;
}

.hide {
  display: none;
}

legend,
.space {
  margin-bottom: 16px;
}

fieldset,
.space-md {
  margin-bottom: 32px;
}

header {
  background: url(../images/header.png) center right no-repeat;
  background-size: cover;
  height: 187px;
  padding: 23px 36px;
  width: 100%;
}

header h2 {
  color: #fff;
  font-size: 23px;
  font-weight: 300;
}

header h2 span {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.46;
  display: block;
}

form fieldset {
  padding: 0 32px;
}

form fieldset legend {
  font-size: 18px;
  font-weight: 600;
}

form fieldset textarea:focus {
  background: #9fb6ce;
  color: #2f3676;
  font-weight: bold;
}

form fieldset textarea {
  background: #dde3e9;
  border: 1px solid #2f3676;
  border-radius: 8px;
  color: #071723;
  height: 140px;
  padding: 16px;
  resize: none;
  width: 100%;
  font-size: 14px;
}

form fieldset .counter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  width: 35%;
}

form fieldset .counter svg {
  fill: #2f3676;
}

form fieldset .counter input {
  background: #dde3e9;
  border: 1px solid #2f3676;
  border-radius: 7px;
  font-size: 20px;
  font-weight: bold;
  margin: 0 8px;
  width: 60px;
  text-align: center;
}

form fieldset .counter input.valid-error {
  background: #f59393;
}

form fieldset .counter button,
form fieldset .counter [role="link"] {
  display: flex;
  cursor: pointer;
  border: none;
  height: 42px;
  width: 42px;
}

form fieldset [role="checkbox"] {
  width: 100%;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

form fieldset [role="checkbox"]:focus {
  padding: 8px;
  outline: dashed 1px #2f3676;
}

form fieldset [aria-disabled="true"]:focus {
  outline: none;
  padding: 0;
}

form fieldset [role="checkbox"]:before {
  position: absolute;
  transition: all 0.35s ease-out;
}

form fieldset [aria-checked="true"]::before {
  width: 24px;
  height: 24px;
}

form fieldset [aria-checked="false"]::before {
  content: "";
  width: 24px;
  height: 24px;
}

form fieldset [role="checkbox"] > .text {
  padding-top: 3px;
}

form fieldset [role="checkbox"] .box {
  border-radius: 5px;
  background-color: #2f3676;
  width: 24px;
  height: 24px;
  margin: 0 10px 0 0;
  padding: 4px;
  display: inline-block;
}

form fieldset [role="checkbox"] > .box svg {
  width: 15px;
  height: 15px;    
  display: inline-block;
}

form fieldset [role="checkbox"] > .box svg .path {
  stroke-dashoffset: 111.46px;
  stroke-dasharray: 111.46px;
  stroke: #3863d9;
  transition: all 0.35s ease-out;
}

form fieldset [aria-checked="true"] > .box svg .path {
  stroke: #fff;
  stroke-dashoffset: 0;
}

footer {
  padding: 32px;
  background: #dde3e9;
  display: flex;
  justify-content: flex-end;
}

footer button {
  appearance: none;
  background: #2f3676;
  border: 2px solid #2f3676;
  border-radius: 8px;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 32px;
  cursor: pointer;
}

footer button:focus,
footer button:hover {
  border: 2px solid #2f3676;
  background: #191847;
}

.container-message {
  min-height: 100px;
  background: #dde3e9;
  padding: 10px;
}

.container-message .error {
  color: #860000;
}

.container-message .error strong {
  display: block;
  font-weight: bold;
}

.container-message .success {
  color: #00c57c;
}

.list-group-checkbox li {
  margin-bottom: 10px;
}

.valid-error .text {
  color: #f33232;
}

.valid-error [role="checkbox"] .box {
  background-color: #f59393;
}

.valid-error [aria-disabled="true"] > .text,
[aria-disabled="true"] > .text {
  color: #ccc;
  cursor: not-allowed;
}

form fieldset [aria-disabled="true"] > .box {
  background: #ccc;
  cursor: not-allowed;
  outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}