@import './reset.scss';
@import './colors.scss';
@import './mixins.scss';

section {
  background-image: url("https://raw.githubusercontent.com/lcelso/good-practices-form/master/src/images/header.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;

  background-color: $color-gray;
  border-radius: 20px;
  box-shadow: 10px 22px 34px 0 rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-row-gap: 0px;
  width: 550px;
  max-width: 550px;
  
  @include for-devices-375-812 {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    margin: 0 auto;
    background-position: 0 -4px;
    min-height: 100vh;
  } 
  
  @include for-devices-360-640 {    
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    margin: 0 auto;
    background-position: 0 -4px;
    min-height: 100vh;
  } 
}

.hide {
  display: none;
}

legend,
.space {
  margin-bottom: 16px;
}

fieldset,
.space-md {
  margin-bottom: 32px;
}

.focus {  
  outline: 0;
  box-shadow: -1px 0px 25px 12px rgba(0,0,0,0.25);
}

header {  
  height: 195px;
  padding: 23px 36px;
  width: 100%;

  h2 {
    color: $color-white;
    font-size: 23px;
    font-weight: 300;

    span {
      font-weight: bold;
      font-size: 24px;
      line-height: 1.46;
      display: block;
    }
  }
   
  @include for-devices-375-812 {
    height: 140px;
    padding: 13px 36px;

    h2 {
      font-size: 16px;

      span {
        font-size: 18px;
      }
    }
  } 

  @include for-devices-360-640 {    
    height: 140px;
    padding: 13px 36px;

    h2 {
      font-size: 16px;

      span {
        font-size: 18px;
      }
    }
  } 
}

form {
  fieldset {
    padding: 0 32px;

    legend {
      font-size: 18px;
      font-weight: 600;
    }

    textarea {
      background: $color-blue-light;
      border: 1px solid $color-blue-medium;
      color: $color-blue-dark;

      width: 100%;
      border-radius: 8px;
      height: 140px;
      padding: 16px;
      font-size: 14px;
      resize: none;

      &:focus {
        background: $color-input-focus;
        color: $color-blue-medium;
        font-weight: bold;
        @extend .focus;
      }
    }

    .counter {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 0px;
      width: 25%;

      @include for-desktop-bigger-then-1280 {
        width: 19%;
      }      

      input {
        background: $color-blue-light;
        border: 1px solid $color-blue-medium;
        border-radius: 7px;
        font-size: 20px;
        font-weight: bold;
        margin: 0 8px;
        width: 60px;
        text-align: center;

        &:focus {
          background: $color-input-focus;
          color: $color-blue-medium;
          font-weight: bold;
          @extend .focus;
        }
      }

      input.valid-error {
        background: $error-background;
        border: 1px solid $error-color
      }

      button {
        display: flex;
        cursor: pointer;
        border: none;
        height: 42px;
        width: 42px;

        svg {
          fill: $color-blue-medium;
        }
        
        &:disabled {
          svg {
            fill: $disabled;
            border: $disabled-medium;
            border-color: $disabled-medium;
            cursor: not-allowed;
            outline: none;
          }
        }
      }      
    }

    .list-group-checkbox { 
      li {
        margin-bottom: 10px;
      }
    }    

    [role="checkbox"] {      
      display: inline-block;
      position: relative;
      cursor: pointer;
      padding-right: 10px;

      @include for-devices-375-812 {
        width: 100%;
      } 
      
      @include for-devices-360-640 {    
        width: 100%;
      } 

      &:hover,
      &:focus {
        outline: none;
        @extend .focus;
      }

      &::before {
        position: absolute;
        transition: all 0.35s ease-out;
      }

      .text {
        padding-top: 3px;
      }

      .box {
        border-radius: 5px;
        background-color: $color-blue-medium;
        width: 24px;
        height: 24px;
        margin: 0 10px 0 0;
        padding: 4px;
        display: inline-block;

        > svg {
          width: 15px;
          height: 15px;    
          display: inline-block;

          path {
            stroke-dashoffset: 111.46px;
            stroke-dasharray: 111.46px;
            stroke: #3863d9;
            transition: all 0.35s ease-out;            
          }
        }
      }

    }

    [aria-disabled="true"] {        
      &:focus {
        outline: none;
        padding: 0;
      }
    
      .text {
        color: $disabled;
        cursor: not-allowed;
      }
    
      .box {
        background-color: $disabled;
      }
    }

    [aria-checked="true"] {
      &::before {
        width: 24px;
        height: 24px;
      }

      .box svg .path {
        stroke: $color-white;
        stroke-dashoffset: 0;
      }
    }

    [aria-checked="false"] {
      &::before {
        content: "";
        width: 24px;
        height: 24px;
      }
    }

    button {
      &:hover {
        svg {
          fill: $color-hover;
        }
      }

      &:focus {
        @extend .focus;
      }
    }

  }
}

footer {
  padding: 32px;
  background: $color-blue-light;

  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-end;
  align-items: flex-end;

  @include for-devices-375-812 {
    padding: 32px 12px;
    flex-wrap: wrap;
  } 
  
  @include for-devices-360-640 {
    padding: 32px 12px;
    flex-wrap: wrap;
  }

  &:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: flex-start;
  }

  &:nth-child(2) {
    order: 1;
    flex: 0 1 auto;
    align-self: flex-start;
  }

  button {
    background: $color-blue-medium;
    border: 2px solid $color-blue-medium;
    border-radius: 8px;
    color: $color-white;
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px 32px;
    cursor: pointer;

    order: 0;
    flex: 0 1 auto;
    align-self: flex-start;
    
    &:hover,
    &:focus {
      @extend .focus;
    }

    &:disabled {
      background: $disabled;
      color: $disabled-medium;
      border: 1px solid $disabled-medium;
      cursor: not-allowed;
      outline: none;
    }

  }

  .container-message {
    min-height: 100px;
    padding: 10px;
    margin-right: 60px;
    width: 100%;

    @include for-devices-375-812 {
      margin-top: 15px;
      margin-right: 0;
    } 

    @include for-devices-360-640 {
      margin-top: 15px;
      margin-right: 0;
    }

    .list-errors {
      li {
        margin-bottom: 10px;

        strong {
          font-weight: bold;
          color: $error-color-medium;
        }
      }
    }

    .error {
      color: $error-color-medium;
      margin-bottom: 15px;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
  
      strong {
        display: block;
        font-weight: bold;
      }
    }
  
    .success {
      color: $success-color;
    }
  }
}

.valid-error  {
  .text {
    color: $error-color;
  }

  [role=checkbox] {
    .box {
      background-color: $error-background;
    }
  }

  [aria-disabled="true"] {
    .text {
      color: $disabled;
      cursor: not-allowed;
    }

    .box {
      background-color: $disabled;
    }
  }
}

.overlay {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgba(0,0,0,0.7);
}

.modal {
  padding: 20px;
  width: 50%;
  background: $color-white;
  position: fixed;
  z-index: 2;
  top: 20%; 
  left: calc(75% / 3);
  height: 420px;
  text-align: center;

  p {
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 20px;

    a {
      color: $error-color
    }
  }
}